#root {
  margin: 0 auto;
  padding-top: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  min-width: 53vh;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  transition: background 0.5s ease-in-out, width 0.5s ease-in-out, color 0.5s ease-in-out;
}

